@import "tailwindcss";


:root {

  color: whitesmoke;
  background-color: black;
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


}

#menu-checkbox:checked ~ .mobil-menu-container{
  display: block;
}


#menu-checkbox:checked ~ .mobil-menu{
  left: 0;
}



